/*====== BODY DE LA PAGINA ======*/
body {
  margin: 0;
  background:#00171b;
  background-size: 50% 300%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  
}/*===== ESTRELLAS ANIMACION =====*/
.stars {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/*
.stars::before, 
.stars::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background: white;
  box-shadow: 
    50px 100px white,
    150px 200px white,
    300px 400px white,
    500px 100px white,
    700px 250px white,
    900px 600px white,
    1100px 300px white,
    1300px 700px white;
  animation: moveStars 30s linear infinite;
}
.stars::after {
  top: 100vh;
}
@keyframes moveStars {
  from { transform: translateY(0); }
  to { transform: translateY(-100vh); }
} */
body::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, transparent 4%, rgba(0, 0, 0, 0.897) 60%);
  z-index: -2;
}
.container {
  width: 90%;
  max-width: 1200px;
}
/*====== ICONO DE LA PAGINA ======*/
img {
  width: 240px;
  height: auto;
  border-radius: 10px;
  position: absolute;
  top: 0.5%;
  left: 7%;
}
/*====== BOTON HOME ======*/
.button1 {
  font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
  background-color:#00171b54;
  color:rgb(185,185,185);
  padding:12px 24px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  position:absolute;
  top:7%;
  left:40%;
  display:inline-flex;
  align-items:center;
  gap:2px;
  touch-action:manipulation;
  transition:all 0.3s ease-in-out;
}.button1:hover {
  color:white;
  background-color:#00171b7a;
}.button1:active {
  transform:scale(0.90);
  background-color:#0011147a;
  color:rgb(255,255,255);
}.button1 i {
  font-size:12px;
  transition:transform 0.3s ease-in-out;
}.button1 span {
  transition:opacity 0.3s ease-in-out,transform 0.3s ease-in-out;
}.button1:hover i {
  transform:translateX(1.5em) scale(1.1);
}.button1:hover span {
  opacity:0;
  transform:translateX(10px);
}

/*====== BOTON EXPLORAR ======*/
.button2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:#00171b54;
  color: rgb(185, 185, 185);
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  top: 7%;
  left: 48%;
  display: inline-flex;
  align-items: center;
  gap: 2px;
  touch-action:manipulation;
  transition:all 0.3s ease-in-out;

}.button2:hover {
  color:white;
  background-color:#00171b7a;
}.button2:active {
  transform:scale(0.90);
  background-color:#0011147a;
  color:rgb(255,255,255);
}.button2 i {
  font-size:12px;
  transition:transform 0.3s ease-in-out;
}.button2 span {
  transition:opacity 0.3s ease-in-out,transform 0.3s ease-in-out;
}.button2:hover i {
  transform:translateX(1.8em) scale(1.1);
}.button2:hover span {
  opacity:0;
  transform:translateX(10px);
}

/*====== BOTON PERFIL ======*/
.button3 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:#00171b54;
  color: rgb(185, 185, 185);
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  top: 7%;
  left: 56.78%;
  display: inline-flex;
  align-items: center;
  gap: 2px;
  touch-action:manipulation;
  transition:all 0.3s ease-in-out;

}.button3:hover {
  color:white;
  background-color:#00171b7a;
}.button3:active {
  transform:scale(0.90);
  background-color:#0011147a;
  color:rgb(255,255,255);
}.button3 i {
  font-size:12px;
  transition:transform 0.3s ease-in-out;
}.button3 span {
  transition:opacity 0.3s ease-in-out,transform 0.3s ease-in-out;
}.button3:hover i {
  transform:translateX(1.5em) scale(1.1);
}.button3:hover span {
  opacity:0;
  transform:translateX(10px);
}

/*====== DROPDOWN ======*/
.dropdown {
    position:absolute;
  top:7%;
  left:64.3%;
  display: inline-block;
  padding-bottom:15px;
}.dropbtn {
  font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
  background-color:#00171b54;
  color:rgb(185,185,185);
  padding:12px 24px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  display:inline-flex;
  align-items:center;
  gap:2px;
  touch-action:manipulation;
  transition:all 0.3s ease-in-out;
}.dropbtn:hover {
  color:white;
  background-color:#00171b7a;
}.dropbtn i {
  font-size:12px;
  transition:transform 0.3s ease-in-out;

}.dropdown-content {
  display:none;
  position:absolute;
  background-color:transparent;
  min-width:160px;
  box-shadow:0px 8px 16px rgba(0,0,0,0.2);
  border-radius:8px;
  margin-top:5px;
  z-index:1;
}.dropdown-content a {
  font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
  background-color:#00171b54;
  color:rgb(185,185,185);
  padding:12px 24px;
  text-decoration:none;
  display:block;
  border:none;
  border-radius:8px;
  margin-bottom:4px;
  transition:all 0.3s ease-in-out;
  color:white;
  background-color:#00171b;
  transform:scale(1.03);
} .dropdown-content a:hover {
  background-color:#001d22;
  color:white;
}.dropdown-content a:active {
  transform:scale(0.95);
  background-color:#000b0e;
  color:rgb(255,255,255);
}
.dropdown:hover .dropdown-content {
  display:block;
}

.overlay{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00171b00;
  padding: 15% 37%;
  border-radius: 15px;
  text-align: center;
  color: white;
}.overlay .welcome-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} .overlay h1{
  position: absolute;
  top: 3%;
  left: 1.4%;
  font-size: 19px;
  color: gray;
} 
/*====== WRAPPER ======*/
.welcome-box, .welcome-box2, .welcome-box3, .welcome-box4 {
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  background-color:#00171b54;
  padding: 10.5em 7.2em; 
  border-radius: 15px;
  text-align: center;
  color: white;
  /* box shadow*/
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.582);
} .welcome-box img, .welcome-box2 img, .welcome-box3 img, .welcome-box4 img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}
.welcome-box { left: 13%; }
.welcome-box2 { left: 37%; }
.welcome-box3 { left: 61%; }
.welcome-box4 { left: 85%; }
.welcome-box:hover, .welcome-box2:hover, .welcome-box3:hover, .welcome-box4:hover {
  background-color: #00323b54;
  transform: translate(-50%, -50%) scale(1.05);
  transition: all 0.3s ease-in-out;
} .welcome-box:active, .welcome-box2:active, .welcome-box3:active, .welcome-box4:active {
  transform: translate(-50%, -50%) scale(0.95);
  background-color:  #000f1154;
}

/* ===== BOTONES RIGHT-LEFT =====*/
.btn-right {
  position: absolute;
  top: 50%;
  left: 100%;
  padding: 1.3% 1.3%;
  /*Apariencia*/
  background-color: #00323b54;
  border-radius: 50%;
  border: none;
  /*TRANSition */
  transition: all ease-in-out 0.3s;

} .btn-right:hover {
  transform: scale(1.1);
} .btn-right:active {
  scale: calc(0.90);
} .btn-right i {
  color: gray;
} .btn-right:hover i {
  color: white;
}

.btn-left {
  position: absolute;
  top: 50%;
  left: -5.4%;
  padding: 1.3% 1.3%;
  /*Apariencia*/
  background-color: #00323b54;
  border-radius: 50%;
  border: none;
  /*TRANSition */
  transition: all ease-in-out 0.3s;

} .btn-left:hover {
  transform: scale(1.1);
} .btn-left:active {
  scale: calc(0.90);
} .btn-left i {
  color: gray;
} .btn-left:hover i {
  color: white;
} 
