/*====== BODY DE LA PAGINA ======*/
body {
  margin: 0;
  background: linear-gradient(#000000,#0e023b, #130450,#1d0774);
  background-size: 50% 300%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  
}
img {
  width: 240px;
  height: auto;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
}


/* ===== TEXTO LOGIN =====*/
.warpper{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}.warpper h1 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size:25px;
} .input-box {
    font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
    background-color:#1d07743b;
    padding: 12px 24px;
    border-radius: 8px;
    margin-top: 5px;
} .input-box input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
} .warpper .btn {
    font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
    background-color:#1d07743b;
    color:rgb(185,185,185);
    padding:12px 24px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    margin-top: 15px;
} .warpper .btn:hover {
    color:white;
    background-color:#0f033f3b;
} .warpper .btn:active {
  transform:scale(0.90);
  background-color:#0c02313b;
  color:rgb(255,255,255);
} .warpper .btn i {
    font-size: 12px;
    transition: transform 0.3s ease-in-out;
}.warpper .btn span {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}.warpper .btn:hover i {
    transform: translateX(1.5em) scale(1.1);
}.warpper .btn:hover span {
    opacity: 0;
    transform: translateX(10px);
} .warpper .register-link {
    margin-top: 15px;
    color: white;
} .warpper .register-link a {
    color:#0077ff71;
    text-decoration: none;
} .warpper .register-link a:hover {
    text-decoration: underline;
} .warpper .remember-forgot {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 10px;
} .warpper .remember-forgot label {
    color: white;
} .warpper .remember-forgot a {
    color: #0077ff71;
    text-decoration: none;
} .warpper .remember-forgot a:hover {
    text-decoration: underline;
}

.btnR { 
    background-color: #00000000;
    border: none;
    color: #0077ff71;
    cursor: pointer; 
} .btnR:hover {
    text-decoration: underline;
}

